html {
	min-height: 100%;
	height: auto;	
}
body {
	font: 14px Tahoma;
	background-color: #FFFFFF;
	background-image: url("images/tile.png");	
	background-position: bottom left;
	background-repeat: repeat-x;	
}

div#container {	
	margin: 0 auto 0 auto;
	width: 860px;	
}

img {
	border: none;
}

/********************* Header **********************/
div#header {
	width: 500px;
	height: 234px;
}
img#logo {
	border: 0px;
}

/********************* Nav **********************/
div#nav {
	float: left;
	width: 150px;
	margin-top: 310px;
	padding-right: 10px;
	border-right: 3px solid #960000;
	text-align: right;
}
div.nav {
	padding-top: 10px;
}

a.nav {
    color: #5A6A8E;
    text-decoration: underline;
    font: 18px "Trebuchet MS";
	letter-spacing: 1px;
    font-weight: bold;
}
a.nav:hover {
	color: #b87413;
	text-decoration: underline;
}
a.nav-current {
    color: #960000;
    text-decoration: underline;
    font: 18px "Trebuchet MS";
	letter-spacing: 1px;
    font-weight: bold;
}
a.nav-current:hover {
	color: #b87413;
	text-decoration: underline;
}

/********************* Sponsors **********************/
div#sponsors {
	float: right;
	width: 150px;
	margin-top: 310px;
	margin-left: 10px;
	text-align: center;
}
div.sponsor {	
	margin-bottom: 30px;
}

/********************* Body **********************/
div#body {
	width: 500px;
	padding-bottom: 80px;
	margin: 0 180px 0 180px;
}
img.border {
	border: 2px solid #960000;
}
a {
	color: #5A6A8E;
	text-decoration: underline;
}
a:hover {
	color: #b87413;
}
div.center {
	width: 100%;
	text-align: center;
}
div.right {
	float: right;
	margin-left: 10px;
}
div.left {
	float: left;
	margin-right: 10px;
}
h1 {
	font: 24px "Trebuchet MS";
	letter-spacing: 1px;
	font-weight: bold;
	color: #465577;
}
h2 {
	font: 18px "Lucida Grande";
	letter-spacing: 1px;
	font-weight: bold;
	color: #5A6A8E;
	padding-top: 10px;	
}
h1.center {
	text-align: center;
}
h3 {
	font: 14px "Lucida Grande";
	font-weight: bold;
	color: #39814F;
	margin: 0 0 0 0;
	
}
p {
	text-align: justify;
    line-height: 1.5;
	padding-top: 0px;
}
b {
	color: #960000;
}
li {
	text-align: justify;
    line-height: 1.5;
}
table.border {
	border: 2px solid #5A6A8E;
	border-collapse: collapse;
	margin: 0 auto 0 auto;
}
td.border {
	border: 1px solid #5A6A8E;
}
th.border {
	border: 1px solid #5A6A8E;
}

th {
	color: #960000;
}
p.error {
	font-weight: bold;
	color: #960000;
	background-color: #FFFF00;
}

table.results {
	border: 2px solid #5A6A8E;
	border-collapse: collapse;
	margin: 0 auto 0 auto;
	text-align: center;
}
td.results {
	border: 1px solid #5A6A8E;
}
th.results {
	border: 1px solid #5A6A8E;
}

tr.results-overall {
	font-weight: bold;
	border: 2px solid #5A6A8E;
}
